#my spaced repetition problems .txt initially
.dadosNumericos.txt
.dadosTeoricos.txt
.dadosTeoricos.txt
.enunciadosNumericos.txt
.enunciadosTeoricos.txt
.gabaritosTeoricos.txt

#My randomized chalanges problems .txt initially.
.DesafiosExercicios.txt
.DesafiosSubdivisoes.txt
.NomesDosDesafios.txt

#The final file configuration and data.
.spacedRepetition/
#Api key for discord initially
.env

#Python file's
__pycache__/
bot-venv/
